NODE_ENV=development
WIFI_NAME=TalTech
WIFI_PASSWORD=
DB_NAME=healthcare_db
DB_HOST=postgres
DB_POSTGRES_USER=postgres
DB_POSTGRES_PASSWORD=postgres
WEB_PORT=8080
VITE_WEB_PORT=8080
FRONTEND_DOCKERFILE=Dockerfile.dev
PGADMIN_DEFAULT_EMAIL=pgadmin@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
FALL_EVENT_TOPIC=event/fall
VITE_FALL_EVENT_TOPIC=event/fall
VITE_WEARABLE_IMU_TOPIC_PREFIX=ESP16