NODE_ENV=development
WIFI_NAME=TalTech
WIFI_PASSWORD=
DB_NAME=healthcare_db
DB_POSTGRES_USER=postgres
DB_POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=pgadmin@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin